
body{
    font-family: Arial, sans-serif;
}

/* Beginning navigation bar */

nav{
    text-align: right;
}

.menu-item{
    font-size: 13px;
    color:rgba(0,0,0,0.87);
    text-decoration: none;
    margin-right: 16px;
    position: relative;
    top: -8px;
}

.menu-item:hover{
    text-decoration: underline;
}

#dropdown-menu{
    margin-right: 16px;
}

/* apps display begin */

#app-wrapper-container{
    display: inline-block;
}

#app-wrapper-container:hover
.app-wrapper{
    display: block;
}

.app-wrapper{
    position: absolute;
    right: 75px;
    display: none;
    width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);    
}

.app-item{
    display: inline-block;
    width: 84px;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px 2px;
}

.app-item:hover{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: rgba(0,0,0,0.05);
}

.app-item>img{
    height: 50px;
    width: 50px;
}


.app-item>p{
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding-top: 8px;
}

/* apps display end  */

#profile-pic{
    border-radius: 50%;
    margin-right: 16px;
}

/* End of Navigation bar */

/* Begin of searching canvas */

section{
    text-align: center;
    padding-top: 10%;
    margin-top: 40px;
}

#google-logo{
    width: 272px;
    height: 92px;
}

#searchbox-wrapper{
    width: 582px;
    position: relative;
    display: inline-block;
}

#search-box {
    width: 100%;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    margin-top: 24px;
}

#search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(3, 33 , 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(3, 33 , 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#searchbox-wrapper>img{
    position: absolute;
    right: 0;
    top: 32px;
    width: 28px;
    height: 28px;
}

#buttons-wrapper{
    text-align: center;
}

.buttons{
    height: 36px;
    padding: 0 16px;
    margin: 12px 4px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.buttons:hover{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    background-color: #f8f8f8;
}


/* End of searching canvas  */

/* Beginning of footer */
.footer-wrapper{
    background-color: #f2f2f2;
    padding: 9px 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    margin: 0;
}

.bottom-text{
    padding: 2px 8px;
    font-size: 14px;
    color: #5f6368;
    text-decoration: none;
}

.bottom-text>a{
    text-decoration: none;
}

.right-footer{
    float: right;
    
}

/* End of footer */